@model IEnumerable<YourBook.Models.Book>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<p>
    @Html.ActionLink("New Book", "New", "Books", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Genre</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
        <tr>
            <td>@Html.ActionLink(book.Name, "Edit", "Books", new { id = book.Id }, null)</td>
            <td>@book.Author</td>
            <td>@book.Genre.Name</td>
        </tr>
        }
    </tbody>
</table>
