@model IEnumerable<YourBook.Models.Book>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Genre</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "author.name"
                    },
                     {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}